.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 16px;
}

.icon-div {
  //右寄りにする
}

.iconStyle {
  padding: '0 10px';
  font-size: '20px';
  text-decoration: 'none';
  color: 'black';
}

.year-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
