.footer {
  text-align: center; /* 中央寄せ */
  padding: 20px 0;
}

.footer-profile-link {
  font-weight: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--color-font-primary);

  &:hover {
    color: #007acc;
  }
}
