.year-list-body {
  min-height: 20rem;
  width: 80%;
  margin: 0 auto; /* 水平方向に中央寄せ */
  color: var(--color-font-primary);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* カード間の間隔を調整 */
  align-items: stretch; /* 上下中央揃え */
}

.card {
  flex: 0 0 calc(33.33% - 1rem); /* カードの幅を均等に設定 */
  box-sizing: border-box; /* ボーダーボックスモデルを使用して幅を計算 */
  justify-content: space-around;
  padding: 1.25rem;
  border: 0.065rem solid #e0e0e0; /* カードにボーダーを追加 */
  border-radius: 0.5rem; /* カードの角を丸くする */
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* ホバー時のアニメーション */
  position: relative; /* カード内の要素を絶対位置指定するために親要素を相対位置に設定 */
  /* ドットの背景パターン */
  background: var(--color-bg-secondary);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 1px, transparent 0.065rem);
  background-size: 1rem 1rem; /* ドットのサイズを調整 */
}

@media (max-width: 1000px) {
  .card {
    flex: 0 0 calc(50% - 1rem); /* ウィンドウ幅が1000px以下の場合、2列に */
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 0 calc(100% - 1rem); /* ウィンドウ幅が600px以下の場合、1列に */
  }
}

.card:hover {
  transform: scale(1.05); /* ホバー時にカードを拡大する */
}

.card-date {
  display: flex;
  justify-content: flex-end; /* 日付を右寄せ */
}
